body {
    font-family: 'Press Start 2P', cursive; /* Tipografía retro */
    background-color: #cce7ff;
    margin: 0;
    padding: 0;
    color: #333;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    background: #e0e0e0;
    border: 5px solid #009688; /* Borde de la línea temporal */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.timeline-item {
    display: flex;
    margin-bottom: 30px;
    position: relative;
    opacity: 0; /* Oculta los elementos inicialmente */
}

.timeline-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 5px;
    background-color: #009688;
    transform: translateX(-50%);
}

.timeline-icon {
    width: 50px;
    height: 50px;
    background-color: #ff5722; /* Color vibrante */
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: relative;
    z-index: 1;
    font-size: 14px;
    text-shadow: 1px 1px 2px #333;
}

.timeline-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    width: calc(50% - 40px); /* Ajustar el ancho para que no se desborde */
    margin: 0 20px; /* Asegura que los bloques no se solapen */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border: 2px solid #009688; /* Borde de los bloques */
}

.timeline-content h2 {
    margin-top: 0;
    color: #009688;
}

.timeline-item:nth-child(odd) .timeline-content {
    margin-left: 0;
    margin-right: calc(50% + 20px); /* Ajusta el margen derecho para el bloque */
    text-align: right;
}

.timeline-item:nth-child(even) .timeline-content {
    margin-left: calc(50% + 20px); /* Ajusta el margen izquierdo para el bloque */
}

.timeline-item:nth-child(even)::after {
    left: 50%;
    transform: translateX(-50%);
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .timeline-item {
        flex-direction: column; /* Alineación vertical en pantallas pequeñas */
        align-items: flex-start; /* Alinear al inicio */
    }

    .timeline-item::after {
        display: none; /* Ocultar la línea vertical en pantallas pequeñas */
    }

    .timeline-content {
        margin: 10px 0; /* Espaciado vertical en pantallas pequeñas */
        width: calc(100% - 40px); /* Ajustar el ancho para pantallas pequeñas */
        box-shadow: none; /* Eliminar la sombra para pantallas pequeñas */
    }

    .timeline-icon {
        width: 40px;
        height: 40px;
        font-size: 12px;
    }
}
